.about-container {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 5px 10%;
    gap: 5px;
}

.members-container {
    display: flex;
    flex-direction: column;
}

.member-data {
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: var(--secondary-color);
    border-radius: 55px;
    justify-content: space-between;
}

.member-details {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.member-details .name {
    font-weight: bold;
    font-size: 20px;
}

.member-details ul {
    padding-left: 20px;
}

.member-image {
    display: flex;
}

.member-image img {
    width: auto;
    height: 150px;
}

.group-container {
    display: block;
    /* background-color: var(--primary-color); */
}

.group-details {
    display: block;
    position: sticky;
    top: 110px;
    height: fit-content;
    top: calc(105px);
    background-color: var(--primary-color);
    border-radius: 55px;
    padding: 25px;
}

.group-details p {
    text-align: left;
}

.group-details .name {
    font-weight: bold;
    font-size: 20px;
}

.group-image {
    display: block;
    margin: 3px;
}

.group-image img {
    float: right;
    width: 150px;
    height: 150px;
    border: 2px solid blue;
}