
.main-container {
    width: inherit;
    display: grid;
    grid-template-columns: auto 20% min-content auto;
    gap: 5%;
    padding: 10px;
    margin: 0;
}

.spacer {
    width: auto;
}

.option-container {
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 15px;
}

.products-container #title {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: bold;
    font-family: "Courier New";
    padding: 20px 0px;
    text-transform: capitalize;
    text-decoration: underline;

}

/*  Main grid container */
.grid-container {
    height: fit-content;
    width: inherit;

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;

    padding: 5px;
    
    align-content: center;

}

.product-img {
    display: flex;
    align-items: center;
    height: 100px;
}

.grid-item {
    width: 20vw;
    height: 20vw;
    max-width: 240px;
    max-height: 240px;
    position: relative;
    cursor: pointer;

    overflow: hidden;

    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.grid-item:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(197, 163, 100) 0px 0px 0px 3px;}

.product-sub-container {
    transition: 0.5s;
}

.product-sub-container.product-image {
    padding-top: 5px;

    height: inherit;
    /* height: 50%; */
    width: auto;
    max-width: inherit;
    max-height: inherit;

    display: flex;
    justify-content: center;
}

.product-sub-container.product-image .content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-item .product-sub-container.product-image img {
    height: inherit;
}

.grid-item:hover .product-sub-container.product-image {
    height: 50%;
    
}

.product-sub-container.product-information {
    margin-top: 10px;

    height: 50%;
    width: inherit;
    max-width: inherit;
    max-height: inherit;

    display: flex;
    justify-content: center;

    background-color: var(--secondary-color);
    opacity: 0;
}

.grid-item:hover .product-sub-container.product-information {
    opacity: 1;
}

.product-sub-container.product-information .content{
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.btn-container{
    text-align: right;
}

.btn{
    padding: 10px;
}

.grid-item .product-information .content .title{
    font-family: Helvetica;
    padding: 5px 0px;
    text-transform: capitalize;
}



@media screen and (min-width: 1400px) {
    .btn {
        font-size: 21px;
    }

    .title{
        font-size: 21px;
    }
}