.main-container {
    margin: 10px;
}
.grid-container {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
}

.product-img {
    display: flex;
    align-items: center;
    height: 100px;
}

.grid-item {
    height: 25vw;
    width: 20vw;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    overflow: hidden;

    background-color: var(--third-color);
    flex-direction: column;
   
}

.grid-item .product-sub-container {
    transition: 0.5s;
}


.grid-item .product-sub-container.product-image {
    width: 100%;
    height: 25vw;

    position: relative;
    
    background-color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(20px);
    border: 3px solid var(--primary-color);
}

.grid-item:hover .product-sub-container .product-image {
    color: var(--primary-color);
    transform: translateY(0);

}

.grid-item .product-sub-container.product-image .content {
    display: flex;
    justify-content: center;
    align-items: center;
   
    opacity: 0.5;
    transition: 0.5s;
}

.grid-item:hover .product-sub-container.product-image .content {
    opacity: 1;
}

.grid-item .product-sub-container.product-image .content img {
    max-width: 100px;
}

.grid-item .product-sub-container.product-information {
    width: 100%;
    height: 125px;

    position: relative;
    background: var(--secondary-color);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-90px);
}

.grid-item:hover .product-sub-container.product-information {
    transform: translateY(0);
    visibility: visible;
}

.grid-item .product-sub-container.product-information .content{
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.grid-item .product-sub-container.product-information .content p {
    display: flex;
    font-family: "copperplate";
    margin-left: 10px;
    margin-top: 10px;
}

.grid-item .product-sub-container.product-information .content button {
    float: right;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}

.title{
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px;
    letter-spacing: 1.5px;
}

.btn{
    background-color: var(--main-color); /* set the background color */
    border: none; /* remove the border */
    color: white; /* set the text color */
    padding: 10px 15px; /* add some padding */
    text-align: center; /* center the text */
    text-decoration: none; /* remove underlines */
    display: inline-block; /* display as an inline-block element */
    font-size: 16px; /* set the font size */
    margin: 4px 2px; /* add some margin */
    cursor: pointer; /* add a cursor on hover */
    margin-right: auto; /* push the button to the left */
    border-radius: 5%;
    text-transform: capitalize;
}