<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
<h1>This is category page</h1>
<div id="product-container">
    <div th:each="product : ${products}">
        <h2 th:text="${product.fullname}"></h2>
        <p>Shortname: <span th:text="${product.shortname}"></span></p>
        <p>Price: <span th:text="${product.price}"></span></p>
        <img th:src="${product.img}" alt="Product Image">
        <p>Component: <span th:text="${product.component}"></span></p>
    </div>
</div>
</body>
</html>
